<div class="sleft">
  <%= render 'form' %>
</div>

<div class="sright">
  <p class="sheader">Add Scores</p>
<table>
   <% @event.competes.each do |compete| %>
      <%= form_for(compete) do |f| %>
       <tr>
         <td> <%= compete.team.name %> :                    </td>
         <td> <%= f.text_field :score, :class => "score" %> </td>
         <td> <%= f.submit "Update" %>                      </td>
       </tr>    
      <% end %>
    <% end %>
  </table> 
</div>

<div style="clear:both">
 <p><%= link_to 'Back', @event %> | <%= link_to 'Delete', @event, :confirm => 'Are you sure?', :method => :delete %></p>  
</div>
