<% @events.each do |event| %>
  <div>
    <p class="header"><%= event.name %></p>
    <p class="edates"><%= event.date.strftime("%B %d, %Y") %><br />
       <%= event.starttime.to_s(:customtime) %> - <%= event.endtime.to_s(:customtime) %></p>
    <p><%= event.venue %><br />
       <%= event.address %><br />
       <%= event.city %>, <%= event.state %></p>
    <p><%= event.description %></p>
  </div>
<% end %>

<p><%= link_to 'New Event', new_event_path %></p>
