<% @events.each do |event| %>
  <div class="spacer">
    <p class="header"><%= event.name %></p>
    <p class="edates"><%= event.date %><br />
       <%= event.starttime %> - <%= event.endtime %></p>
    <p><%= event.venue %><br />
       <%= event.address %><br />
       <%= event.city %>, <%= event.state %></p>
    <p><%= event.description %></p>
  </div>
<% end %>

<p><%= link_to 'New Event', new_event_path %></p>
