<div>
  <p id="redtext"><%= @event.name %></p>
                  <%= @event.date %>
  <p>Location:    <%= @event.venue %><br />
                  <%= @event.address %><br />
                  <%= @event.city %>, <%= @event.state %>
  </p>

<p>
  <b>Starttime:</b>
  <%= @event.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @event.endtime %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
