<div class="left">
  <p id="redtext" style="font-weight:bold"><%= @event.name %></p>
  <p>             <%= @event.date.strftime("%B %d, %Y") %>   <br />
                  <%= @event.starttime.to_s(:customtime) %> - <%= @event.endtime.to_s(:customtime) %> 
  </p>
  <p>             <%= @event.venue %><br />
                  <%= @event.address %><br />
                  <%= @event.city %>, <%= @event.state %>
  </p>
  <p>
    <%= @event.description %>
  </p>
</div>

<div class="right" style="padding-top:20px;">
  <table>
    <% @event.competes.each do |compete| %>
      <%= form_for(compete) do |f| %>
       <tr>
         <td> <%= compete.team.name %> :</td>
         <td> <%= compete.score %> </td>
       </tr>    
      <% end %>
    <% end %>
  </table> 
</div>

<div style="clear:both">
<% if !session[:user_id].nil? %>
   <p style="padding-left: 80px;"><%= link_to 'Edit', edit_event_path(@event) %></p>
<% end %>
</div>
