<div>
  <p id="redtext" style="font-weight:bold"><%= @event.name %></p>
  <p>             <%= @event.date.strftime("%B %d, %Y") %>   <br />
                  <%= @event.starttime.to_s(:customtime) %> - <%= @event.endtime.to_s(:customtime) %> 
  </p>
  <p>             <%= @event.venue %><br />
                  <%= @event.address %><br />
                  <%= @event.city %>, <%= @event.state %>
  </p>
  <p>
    <%= @event.description %>
  </p>


<p><%= link_to 'Edit', edit_event_path(@event) %> </p>
