
<table class="teams">
  <tr>
    <th>Name</th>
    <th>Total Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
   
    <td><%= link_to(team.name, team) %></td>
    <td><%= team.competes.sum(:score) %></td>
    <% if !session[:user_id].nil? %> 
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Delete', team, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
<% if !session[:user_id].nil? %>
  <p><%= link_to 'Create an New Team', new_team_path %></p>
<% end %>
</table>

<br />

