<p id="notice"><%= notice %></p>

<p class="teamheader">
  <%= @team.name %>
</p>

<p>
  <b>Players:</b>
   <% @team.players.each do |player| %>
   <p style="padding-left: 50px;">
       <%= link_to_if(!session[:user_id].nil?, player.full_name, player) %><br /> 
<% end %>
</p>

<p>
  <b>Total Score:</b>
  <%= @team.totalscore %>
</p>

<% if !session[:user_id].nil? %>
  <p>
     <%= link_to 'Edit', edit_team_path(@team) %> | 
     <%= link_to 'Back', teams_path %> |
     <%= link_to 'Add a new player', new_player_path %>
  </p>

<% end %>


