<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<% @team.competes.each do |compete| %>
  
<% end %>


<p>
  <b>Total Score:</b>
  <%= @team.totalscore %>
</p>

<% if !session[:user_id].nil? %>
  <p><%= link_to 'Edit', edit_team_path(@team) %> | 
  <%= link_to 'Back', teams_path %></p>
<% end %>


