<%= form_for(@compete) do |f| %>
  <% if @compete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compete.errors.count, "error") %> prohibited this compete from being saved:</h2>

      <ul>
      <% @compete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
