<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label             "First Name" %><br />
    <%= f.text_field        :firstname %>
  </div>
  <div class="field">
    <%= f.label             "Last Name" %><br />
    <%= f.text_field        :lastname %>
  </div>
  <div class="field">
    <%= f.label             :email %><br />
    <%= f.text_field        :email %>
  </div>
  <div class="field">
    <%= f.label             :phone %><br />
    <%= f.text_field        :phone %>
  </div>
  <div class="field">
   Select a team:  
   <%  f.label             "Select a team" %><br />
    <%= f.collection_select :team_id, Team.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
